!!! 5
%html{:lang => "en"}
  %head
    %title Nashville Math Day
    %meta{:content => "A day celebrating the joy of mathematics and problem-solving, for any and all who might be interested, in the beautiful city of Nashville", :name => "description"}
    %meta{:content => "Jeremy Holland", :name => "author"}
    %link{:href => "/css/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "/css/style.css", :media => "screen", :rel => "stylesheet"}
  %body
    .container
      .row.span12
        %h1.text-center Coming Soon!
    %script{:type => "text/javascript", :src => "/js/jquery-1.9.1.min.js"}
    %script{:type => "text/javascript", :src => "/js/bootstrap.min.js"}
