body {
  padding-top: 40px;
  background-image: url(/img/bg.jpg);
  background-attachment: fixed;
}

.navbar-inner a.brand {
  margin-left: 0;
}

h1.logo {
  font-size: 60px;
}

.container {
  background-color: #222222;
  border: 1px solid #444444;
  padding-bottom: 30px;
}

p {
  text-indent: 2em;
}

hr {
  border-color: #333333;
}
